In [173]:
import pandas as pd
import seaborn as sns

In [174]:
df = sns.load_dataset('tips')

In [175]:
ds = sns.load_dataset('titanic')

In [176]:
df

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

In [177]:
df_dict = pd.DataFrame([
    {
        "variavel":"total_bill",
        "descricao":"conta total",
        "tipo": "quantitativa",
        "subtipo": "contínuas"
    },{
        "variavel": "tip",
        "descricao": "gorjeta",
        "tipo": "quantitativa",
        "subtipo": "contínua",
    },{
        "variavel":"sex",
        "descricao": "refere-se ao sexo da pessoa",
        "tipo":"qualitativa",
        "subtipo":"nominal",
    },{
        "variavel":"smoker",
        "descricao": "condição se a pessoa é fumante ou não",
        "tipo":"qualitativa",
        "subtipo":"nominal",
    },{
        "variavel":"day",
        "descricao":"dia da semana",
        "tipo":"qualitativa",
        "subtipo":"ordinal",
    },{
        "variavel":"time",
        "descricao":"tempo",
        "tipo":"qualitativa",
        "subtipo":"ordinal",
    },{
        "variavel":"size",
        "descricao":"tamanho",
        "tipo":"quantitativa",
        "subtipo":"contínua",
    }
    
])

df_dict

     variavel                              descricao          tipo    subtipo
0  total_bill                            conta total  quantitativa  contínuas
1         tip                                gorjeta  quantitativa   contínua
2         sex            refere-se ao sexo da pessoa   qualitativa    nominal
3      smoker  condição se a pessoa é fumante ou não   qualitativa    nominal
4         day                          dia da semana   qualitativa    ordinal
5        time                                  tempo   qualitativa    ordinal
6        size                                tamanho  quantitativa   contínua

In [178]:
qualitativos=df[['sex', 'smoker', 'day', 'time']].mode()

for variavel in qualitativos:
    valores_unicos = df[variavel].unique()
    for valor in valores_unicos:
        print(f"{variavel} - {valor}")
        subamostras = df[df[variavel] == valor]
        print(subamostras.describe())

sex - Female
       total_bill        tip       size
count   87.000000  87.000000  87.000000
mean    18.056897   2.833448   2.459770
std      8.009209   1.159495   0.937644
min      3.070000   1.000000   1.000000
25%     12.750000   2.000000   2.000000
50%     16.400000   2.750000   2.000000
75%     21.520000   3.500000   3.000000
max     44.300000   6.500000   6.000000
sex - Male
       total_bill         tip        size
count  157.000000  157.000000  157.000000
mean    20.744076    3.089618    2.630573
std      9.246469    1.489102    0.955997
min      7.250000    1.000000    1.000000
25%     14.000000    2.000000    2.000000
50%     18.350000    3.000000    2.000000
75%     24.710000    3.760000    3.000000
max     50.810000   10.000000    6.000000
smoker - No
       total_bill         tip        size
count  151.000000  151.000000  151.000000
mean    19.188278    2.991854    2.668874
std      8.255582    1.377190    1.017984
min      7.250000    1.000000    1.000000
25%     13.325000    2.000000    2.000000
50%     17.590000    2.740000    2.000000
75%     22.755000    3.505000    3.000000
max     48.330000    9.000000    6.000000
smoker - Yes
       total_bill        tip       size
count   93.000000  93.000000  93.000000
mean    20.756344   3.008710   2.408602
std      9.832154   1.401468   0.810751
min      3.070000   1.000000   1.000000
25%     13.420000   2.000000   2.000000
50%     17.920000   3.000000   2.000000
75%     26.860000   3.680000   3.000000
max     50.810000  10.000000   5.000000
day - Sun
       total_bill        tip       size
count   76.000000  76.000000  76.000000
mean    21.410000   3.255132   2.842105
std      8.832122   1.234880   1.007341
min      7.250000   1.010000   2.000000
25%     14.987500   2.037500   2.000000
50%     19.630000   3.150000   2.000000
75%     25.597500   4.000000   4.000000
max     48.170000   6.500000   6.000000
day - Sat
       total_bill        tip       size
count   87.000000  87.000000  87.000000
mean    20.441379   2.993103   2.517241
std      9.480419   1.631014   0.819275
min      3.070000   1.000000   1.000000
25%     13.905000   2.000000   2.000000
50%     18.240000   2.750000   2.000000
75%     24.740000   3.370000   3.000000
max     50.810000  10.000000   5.000000
day - Thur
       total_bill        tip       size
count   62.000000  62.000000  62.000000
mean    17.682742   2.771452   2.451613
std      7.886170   1.240223   1.066285
min      7.510000   1.250000   1.000000
25%     12.442500   2.000000   2.000000
50%     16.200000   2.305000   2.000000
75%     20.155000   3.362500   2.000000
max     43.110000   6.700000   6.000000
day - Fri
       total_bill        tip       size
count   19.000000  19.000000  19.000000
mean    17.151579   2.734737   2.105263
std      8.302660   1.019577   0.567131
min      5.750000   1.000000   1.000000
25%     12.095000   1.960000   2.000000
50%     15.380000   3.000000   2.000000
75%     21.750000   3.365000   2.000000
max     40.170000   4.730000   4.000000
time - Dinner
       total_bill         tip        size
count  176.000000  176.000000  176.000000
mean    20.797159    3.102670    2.630682
std      9.142029    1.436243    0.910241
min      3.070000    1.000000    1.000000
25%     14.437500    2.000000    2.000000
50%     18.390000    3.000000    2.000000
75%     25.282500    3.687500    3.000000
max     50.810000   10.000000    6.000000
time - Lunch
       total_bill        tip       size
count   68.000000  68.000000  68.000000
mean    17.168676   2.728088   2.411765
std      7.713882   1.205345   1.040024
min      7.510000   1.250000   1.000000
25%     12.235000   2.000000   2.000000
50%     15.965000   2.250000   2.000000
75%     19.532500   3.287500   2.000000
max     43.110000   6.700000   6.000000

In [179]:
df[['total_bill', 'tip', 'size']].mean()

total_bill    19.785943
tip            2.998279
size           2.569672
dtype: float64

In [180]:
df[['total_bill', 'tip', 'size']].median()

total_bill    17.795
tip            2.900
size           2.000
dtype: float64

In [181]:
df[['total_bill', 'tip', 'size']].std()

df.describe()

       total_bill         tip        size
count  244.000000  244.000000  244.000000
mean    19.785943    2.998279    2.569672
std      8.902412    1.383638    0.951100
min      3.070000    1.000000    1.000000
25%     13.347500    2.000000    2.000000
50%     17.795000    2.900000    2.000000
75%     24.127500    3.562500    3.000000
max     50.810000   10.000000    6.000000

In [182]:
ds

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,0,2,male,27.0,0,0,13.0000,S,Second,man,True,NaN,Southampton,no,True
887,1,1,female,19.0,0,0,30.0000,S,First,woman,False,B,Southampton,yes,True
888,0,3,female,NaN,1,2,23.4500,S,Third,woman,False,NaN,Southampton,no,False
889,1,1,male,26.0,0,0,30.0000,C,First,man,True,C,Cherbourg,yes,True
890,0,3,male,32.0,0,0,7.7500,Q,Third,man,True,NaN,Queenstown,no,True

In [183]:
ds_dict = pd.DataFrame([
    {
        "variavel":"survived",
        "descricao":"número de sobreviventes",
        "tipo": "quantitativa",
        "subtipo": "discretas"
    },{
        "variavel": "pclass",
        "descricao": "classe do navio",
        "tipo": "qualitativa",
        "subtipo": "ordinal",
    },{
        "variavel":"sex",
        "descricao": "refere-se ao sexo da pessoa",
        "tipo":"qualitativa",
        "subtipo":"nominal",
    },{
        "variavel":"age",
        "descricao": "idade",
        "tipo":"quantitativa",
        "subtipo":"discreta",
    },{
        "variavel":"sibsp",
        "descricao":"acompanhante",
        "tipo":"quantitativa",
        "subtipo":"discreta",
    },{
        "variavel":"parch",
        "descricao":"ressecado",
        "tipo":"qualitativa",
        "subtipo":"nominal",
    },{
        "variavel":"fare",
        "descricao":"número de passagem",
        "tipo":"quantitativa",
        "subtipo":"discreta",
    },{
        "variavel":"embark_town",
        "descricao":"cidade de embarque",
        "tipo":"qualitativa",
        "subtipo":"nominal",
    },{
        "variavel":"alive",
        "descricao":"se a pessoa está viva",
        "tipo":"qualitativa",
        "subtipo":"nominal",
    },{
        "variavel":"alone",
        "descricao":"se a pessoa está sozinha",
        "tipo":"qualitativa",
        "subtipo":"nominal",
    },{
        "variavel":"embarked",
        "descricao":"embarcado",
        "tipo":"qualitativa",
        "subtipo":"nominal",
    },{
        "variavel":"class",
        "descricao":"categoria",
        "tipo":"qualitativa",
        "subtipo":"ordinal",
    },{
        "variavel":"who",
        "descricao":"quem",
        "tipo":"qualitativa",
        "subtipo":"nominal",
    },{
        "variavel":"adult_male",
        "descricao":"se é um adulto masculino",
        "tipo":"qualitativa",
        "subtipo":"nominal",
    },{
        "variavel":"deck",
        "descricao":"área com deck",
        "tipo":"qualitativa",
        "subtipo":"nominal",
    }
    
])

ds_dict

       variavel                    descricao          tipo    subtipo
0      survived      número de sobreviventes  quantitativa  discretas
1        pclass              classe do navio   qualitativa    ordinal
2           sex  refere-se ao sexo da pessoa   qualitativa    nominal
3           age                        idade  quantitativa   discreta
4         sibsp                 acompanhante  quantitativa   discreta
5         parch                    ressecado   qualitativa    nominal
6          fare           número de passagem  quantitativa   discreta
7   embark_town           cidade de embarque   qualitativa    nominal
8         alive        se a pessoa está viva   qualitativa    nominal
9         alone     se a pessoa está sozinha   qualitativa    nominal
10     embarked                    embarcado   qualitativa    nominal
11        class                    categoria   qualitativa    ordinal
12          who                         quem   qualitativa    nominal
13   adult_male     se é um adulto masculino   qualitativa    nominal
14         deck                área com deck   qualitativa    nominal

In [184]:
ds[['survived', 'age', 'sibsp', 'fare']].mean()

survived     0.383838
age         29.699118
sibsp        0.523008
fare        32.204208
dtype: float64

In [185]:
ds[['survived', 'age', 'sibsp', 'fare']].median()

survived     0.0000
age         28.0000
sibsp        0.0000
fare        14.4542
dtype: float64

In [186]:
ds[['survived', 'age', 'sibsp', 'fare']].std()

ds.describe()

         survived      pclass         age       sibsp       parch        fare
count  891.000000  891.000000  714.000000  891.000000  891.000000  891.000000
mean     0.383838    2.308642   29.699118    0.523008    0.381594   32.204208
std      0.486592    0.836071   14.526497    1.102743    0.806057   49.693429
min      0.000000    1.000000    0.420000    0.000000    0.000000    0.000000
25%      0.000000    2.000000   20.125000    0.000000    0.000000    7.910400
50%      0.000000    3.000000   28.000000    0.000000    0.000000   14.454200
75%      1.000000    3.000000   38.000000    1.000000    0.000000   31.000000
max      1.000000    3.000000   80.000000    8.000000    6.000000  512.329200

In [187]:
ds[['pclass', 'sex', 'parch', 'embark_town', 'alive', 'alone', 'embarked', 'class', 'who','adult_male','deck']].mode()

,pclass,sex,parch,embark_town,alive,alone,embarked,class,who,adult_male,deck
0,3,male,0,Southampton,no,True,S,Third,man,True,C

In [188]:
qualitive_vars =['pclass', 'sex', 'parch', 'embark_town', 'alive', 'alone', 'embarked', 'class', 'who','adult_male','deck']

for variavel in qualitive_vars:
    valores_unicos = ds[variavel].unique()
    for valor in valores_unicos:
        print(f"{variavel} - {valor}")
        subamostras = ds[ds[variavel] == valor]
        print(subamostras.describe())

pclass - 3
         survived  pclass         age       sibsp       parch        fare
count  491.000000   491.0  355.000000  491.000000  491.000000  491.000000
mean     0.242363     3.0   25.140620    0.615071    0.393075   13.675550
std      0.428949     0.0   12.495398    1.374883    0.888861   11.778142
min      0.000000     3.0    0.420000    0.000000    0.000000    0.000000
25%      0.000000     3.0   18.000000    0.000000    0.000000    7.750000
50%      0.000000     3.0   24.000000    0.000000    0.000000    8.050000
75%      0.000000     3.0   32.000000    1.000000    0.000000   15.500000
max      1.000000     3.0   74.000000    8.000000    6.000000   69.550000
pclass - 1
         survived  pclass         age       sibsp       parch        fare
count  216.000000   216.0  186.000000  216.000000  216.000000  216.000000
mean     0.629630     1.0   38.233441    0.416667    0.356481   84.154687
std      0.484026     0.0   14.802856    0.611898    0.693997   78.380373
min      0.000000     1.0    0.920000    0.000000    0.000000    0.000000
25%      0.000000     1.0   27.000000    0.000000    0.000000   30.923950
50%      1.000000     1.0   37.000000    0.000000    0.000000   60.287500
75%      1.000000     1.0   49.000000    1.000000    0.000000   93.500000
max      1.000000     1.0   80.000000    3.000000    4.000000  512.329200
pclass - 2
         survived  pclass         age       sibsp       parch        fare
count  184.000000   184.0  173.000000  184.000000  184.000000  184.000000
mean     0.472826     2.0   29.877630    0.402174    0.380435   20.662183
std      0.500623     0.0   14.001077    0.601633    0.690963   13.417399
min      0.000000     2.0    0.670000    0.000000    0.000000    0.000000
25%      0.000000     2.0   23.000000    0.000000    0.000000   13.000000
50%      0.000000     2.0   29.000000    0.000000    0.000000   14.250000
75%      1.000000     2.0   36.000000    1.000000    1.000000   26.000000
max      1.000000     2.0   70.000000    3.000000    3.000000   73.500000
sex - male
         survived      pclass         age       sibsp       parch        fare
count  577.000000  577.000000  453.000000  577.000000  577.000000  577.000000
mean     0.188908    2.389948   30.726645    0.429809    0.235702   25.523893
std      0.391775    0.813580   14.678201    1.061811    0.612294   43.138263
min      0.000000    1.000000    0.420000    0.000000    0.000000    0.000000
25%      0.000000    2.000000   21.000000    0.000000    0.000000    7.895800
50%      0.000000    3.000000   29.000000    0.000000    0.000000   10.500000
75%      0.000000    3.000000   39.000000    0.000000    0.000000   26.550000
max      1.000000    3.000000   80.000000    8.000000    5.000000  512.329200
sex - female
         survived      pclass         age       sibsp       parch        fare
count  314.000000  314.000000  261.000000  314.000000  314.000000  314.000000
mean     0.742038    2.159236   27.915709    0.694268    0.649682   44.479818
std      0.438211    0.857290   14.110146    1.156520    1.022846   57.997698
min      0.000000    1.000000    0.750000    0.000000    0.000000    6.750000
25%      0.000000    1.000000   18.000000    0.000000    0.000000   12.071875
50%      1.000000    2.000000   27.000000    0.000000    0.000000   23.000000
75%      1.000000    3.000000   37.000000    1.000000    1.000000   55.000000
max      1.000000    3.000000   63.000000    8.000000    6.000000  512.329200
parch - 0
         survived      pclass         age       sibsp  parch        fare
count  678.000000  678.000000  521.000000  678.000000  678.0  678.000000
mean     0.343658    2.321534   32.178503    0.237463    0.0   25.586774
std      0.475279    0.836665   12.570448    0.496321    0.0   41.878786
min      0.000000    1.000000    5.000000    0.000000    0.0    0.000000
25%      0.000000    2.000000   22.000000    0.000000    0.0    7.854200
50%      0.000000    3.000000   30.000000    0.000000    0.0   10.500000
75%      1.000000    3.000000   39.000000    0.000000    0.0   26.000000
max      1.000000    3.000000   80.000000    3.000000    0.0  512.329200
parch - 1
         survived      pclass         age       sibsp  parch       fare
count  118.000000  118.000000  110.000000  118.000000  118.0  118.00000
mean     0.550847    2.203390   24.422000    1.084746    1.0   46.77818
std      0.499529    0.832659   18.283117    1.144114    0.0   63.70943
min      0.000000    1.000000    0.420000    0.000000    1.0    7.22920
25%      0.000000    1.000000    6.250000    0.000000    1.0   17.21250
50%      1.000000    2.000000   23.000000    1.000000    1.0   26.00000
75%      1.000000    3.000000   39.000000    1.000000    1.0   39.68750
max      1.000000    3.000000   70.000000    4.000000    1.0  512.32920
parch - 2
        survived     pclass        age      sibsp  parch        fare
count  80.000000  80.000000  68.000000  80.000000   80.0   80.000000
mean    0.500000   2.275000  17.216912   2.062500    2.0   64.337604
std     0.503155   0.856472  13.193924   2.451265    0.0   65.993088
min     0.000000   1.000000   0.830000   0.000000    2.0    7.750000
25%     0.000000   1.000000   5.750000   0.000000    2.0   26.000000
50%     0.500000   3.000000  16.500000   1.000000    2.0   32.881250
75%     1.000000   3.000000  25.000000   4.000000    2.0   69.550000
max     1.000000   3.000000  58.000000   8.000000    2.0  263.000000
parch - 5
       survived  pclass        age     sibsp  parch       fare
count  5.000000     5.0   5.000000  5.000000    5.0   5.000000
mean   0.200000     3.0  39.200000  0.600000    5.0  32.550000
std    0.447214     0.0   1.095445  0.547723    0.0   4.101134
min    0.000000     3.0  38.000000  0.000000    5.0  29.125000
25%    0.000000     3.0  39.000000  0.000000    5.0  31.275000
50%    0.000000     3.0  39.000000  1.000000    5.0  31.275000
75%    0.000000     3.0  39.000000  1.000000    5.0  31.387500
max    1.000000     3.0  41.000000  1.000000    5.0  39.687500
parch - 3
       survived    pclass        age     sibsp  parch       fare
count  5.000000  5.000000   5.000000  5.000000    5.0   5.000000
mean   0.600000  2.600000  33.200000  1.000000    3.0  25.951660
std    0.547723  0.547723  16.709279  0.707107    0.0   7.862611
min    0.000000  2.000000  16.000000  0.000000    3.0  18.750000
25%    0.000000  2.000000  24.000000  1.000000    3.0  19.258300
50%    1.000000  3.000000  24.000000  1.000000    3.0  23.000000
75%    1.000000  3.000000  48.000000  1.000000    3.0  34.375000
max    1.000000  3.000000  54.000000  2.000000    3.0  34.375000
parch - 4
       survived  pclass        age  sibsp  parch        fare
count       4.0     4.0   4.000000   4.00    4.0    4.000000
mean        0.0     2.5  44.500000   0.75    4.0   84.968750
std         0.0     1.0  14.617341   0.50    0.0  118.731099
min         0.0     1.0  29.000000   0.00    4.0   21.075000
25%         0.0     2.5  37.250000   0.75    4.0   26.193750
50%         0.0     3.0  42.500000   1.00    4.0   27.900000
75%         0.0     3.0  49.750000   1.00    4.0   86.675000
max         0.0     3.0  64.000000   1.00    4.0  263.000000
parch - 6
       survived  pclass   age  sibsp  parch  fare
count       1.0     1.0   1.0    1.0    1.0   1.0
mean        0.0     3.0  43.0    1.0    6.0  46.9
std         NaN     NaN   NaN    NaN    NaN   NaN
min         0.0     3.0  43.0    1.0    6.0  46.9
25%         0.0     3.0  43.0    1.0    6.0  46.9
50%         0.0     3.0  43.0    1.0    6.0  46.9
75%         0.0     3.0  43.0    1.0    6.0  46.9
max         0.0     3.0  43.0    1.0    6.0  46.9
embark_town - Southampton
         survived      pclass         age       sibsp       parch        fare
count  644.000000  644.000000  554.000000  644.000000  644.000000  644.000000
mean     0.336957    2.350932   29.445397    0.571429    0.413043   27.079812
std      0.473037    0.789402   14.143192    1.216600    0.853253   35.887993
min      0.000000    1.000000    0.670000    0.000000    0.000000    0.000000
25%      0.000000    2.000000   21.000000    0.000000    0.000000    8.050000
50%      0.000000    3.000000   28.000000    0.000000    0.000000   13.000000
75%      1.000000    3.000000   38.000000    1.000000    0.000000   27.900000
max      1.000000    3.000000   80.000000    8.000000    6.000000  263.000000
embark_town - Cherbourg
         survived      pclass         age       sibsp       parch        fare
count  168.000000  168.000000  130.000000  168.000000  168.000000  168.000000
mean     0.553571    1.886905   30.814769    0.386905    0.363095   59.954144
std      0.498608    0.944100   15.434860    0.557213    0.660481   83.912994
min      0.000000    1.000000    0.420000    0.000000    0.000000    4.012500
25%      0.000000    1.000000   21.250000    0.000000    0.000000   13.697950
50%      1.000000    1.000000   29.000000    0.000000    0.000000   29.700000
75%      1.000000    3.000000   40.000000    1.000000    1.000000   78.500025
max      1.000000    3.000000   71.000000    2.000000    3.000000  512.329200
embark_town - Queenstown
       survived     pclass        age      sibsp      parch       fare
count  77.00000  77.000000  28.000000  77.000000  77.000000  77.000000
mean    0.38961   2.909091  28.089286   0.428571   0.168831  13.276030
std     0.49086   0.369274  16.915396   0.979105   0.656999  14.188047
min     0.00000   1.000000   2.000000   0.000000   0.000000   6.750000
25%     0.00000   3.000000  17.500000   0.000000   0.000000   7.750000
50%     0.00000   3.000000  27.000000   0.000000   0.000000   7.750000
75%     1.00000   3.000000  34.500000   0.000000   0.000000  15.500000
max     1.00000   3.000000  70.500000   4.000000   5.000000  90.000000
embark_town - nan
       survived  pclass  age  sibsp  parch  fare
count       0.0     0.0  0.0    0.0    0.0   0.0
mean        NaN     NaN  NaN    NaN    NaN   NaN
std         NaN     NaN  NaN    NaN    NaN   NaN
min         NaN     NaN  NaN    NaN    NaN   NaN
25%         NaN     NaN  NaN    NaN    NaN   NaN
50%         NaN     NaN  NaN    NaN    NaN   NaN
75%         NaN     NaN  NaN    NaN    NaN   NaN
max         NaN     NaN  NaN    NaN    NaN   NaN
alive - no
       survived      pclass         age       sibsp       parch        fare
count     549.0  549.000000  424.000000  549.000000  549.000000  549.000000
mean        0.0    2.531876   30.626179    0.553734    0.329690   22.117887
std         0.0    0.735805   14.172110    1.288399    0.823166   31.388207
min         0.0    1.000000    1.000000    0.000000    0.000000    0.000000
25%         0.0    2.000000   21.000000    0.000000    0.000000    7.854200
50%         0.0    3.000000   28.000000    0.000000    0.000000   10.500000
75%         0.0    3.000000   39.000000    1.000000    0.000000   26.000000
max         0.0    3.000000   74.000000    8.000000    6.000000  263.000000
alive - yes
       survived      pclass         age       sibsp       parch        fare
count     342.0  342.000000  290.000000  342.000000  342.000000  342.000000
mean        1.0    1.950292   28.343690    0.473684    0.464912   48.395408
std         0.0    0.863321   14.950952    0.708688    0.771712   66.596998
min         1.0    1.000000    0.420000    0.000000    0.000000    0.000000
25%         1.0    1.000000   19.000000    0.000000    0.000000   12.475000
50%         1.0    2.000000   28.000000    0.000000    0.000000   26.000000
75%         1.0    3.000000   36.000000    1.000000    1.000000   57.000000
max         1.0    3.000000   80.000000    4.000000    5.000000  512.329200
alone - False
         survived      pclass         age       sibsp       parch        fare
count  354.000000  354.000000  310.000000  354.000000  354.000000  354.000000
mean     0.505650    2.169492   26.413452    1.316384    0.960452   48.832275
std      0.500676    0.864520   15.834923    1.420774    1.039512   55.307615
min      0.000000    1.000000    0.420000    0.000000    0.000000    6.495800
25%      0.000000    1.000000   16.000000    1.000000    0.000000   18.000000
50%      1.000000    2.000000   26.000000    1.000000    1.000000   27.750000
75%      1.000000    3.000000   37.000000    1.000000    2.000000   59.044800
max      1.000000    3.000000   70.000000    8.000000    6.000000  512.329200
alone - True
         survived      pclass         age  sibsp  parch        fare
count  537.000000  537.000000  404.000000  537.0  537.0  537.000000
mean     0.303538    2.400372   32.220297    0.0    0.0   21.242689
std      0.460214    0.804511   12.899871    0.0    0.0   42.223510
min      0.000000    1.000000    5.000000    0.0    0.0    0.000000
25%      0.000000    2.000000   22.000000    0.0    0.0    7.775000
50%      0.000000    3.000000   29.500000    0.0    0.0    8.137500
75%      1.000000    3.000000   39.000000    0.0    0.0   15.000000
max      1.000000    3.000000   80.000000    0.0    0.0  512.329200
embarked - S
         survived      pclass         age       sibsp       parch        fare
count  644.000000  644.000000  554.000000  644.000000  644.000000  644.000000
mean     0.336957    2.350932   29.445397    0.571429    0.413043   27.079812
std      0.473037    0.789402   14.143192    1.216600    0.853253   35.887993
min      0.000000    1.000000    0.670000    0.000000    0.000000    0.000000
25%      0.000000    2.000000   21.000000    0.000000    0.000000    8.050000
50%      0.000000    3.000000   28.000000    0.000000    0.000000   13.000000
75%      1.000000    3.000000   38.000000    1.000000    0.000000   27.900000
max      1.000000    3.000000   80.000000    8.000000    6.000000  263.000000
embarked - C
         survived      pclass         age       sibsp       parch        fare
count  168.000000  168.000000  130.000000  168.000000  168.000000  168.000000
mean     0.553571    1.886905   30.814769    0.386905    0.363095   59.954144
std      0.498608    0.944100   15.434860    0.557213    0.660481   83.912994
min      0.000000    1.000000    0.420000    0.000000    0.000000    4.012500
25%      0.000000    1.000000   21.250000    0.000000    0.000000   13.697950
50%      1.000000    1.000000   29.000000    0.000000    0.000000   29.700000
75%      1.000000    3.000000   40.000000    1.000000    1.000000   78.500025
max      1.000000    3.000000   71.000000    2.000000    3.000000  512.329200
embarked - Q
       survived     pclass        age      sibsp      parch       fare
count  77.00000  77.000000  28.000000  77.000000  77.000000  77.000000
mean    0.38961   2.909091  28.089286   0.428571   0.168831  13.276030
std     0.49086   0.369274  16.915396   0.979105   0.656999  14.188047
min     0.00000   1.000000   2.000000   0.000000   0.000000   6.750000
25%     0.00000   3.000000  17.500000   0.000000   0.000000   7.750000
50%     0.00000   3.000000  27.000000   0.000000   0.000000   7.750000
75%     1.00000   3.000000  34.500000   0.000000   0.000000  15.500000
max     1.00000   3.000000  70.500000   4.000000   5.000000  90.000000
embarked - nan
       survived  pclass  age  sibsp  parch  fare
count       0.0     0.0  0.0    0.0    0.0   0.0
mean        NaN     NaN  NaN    NaN    NaN   NaN
std         NaN     NaN  NaN    NaN    NaN   NaN
min         NaN     NaN  NaN    NaN    NaN   NaN
25%         NaN     NaN  NaN    NaN    NaN   NaN
50%         NaN     NaN  NaN    NaN    NaN   NaN
75%         NaN     NaN  NaN    NaN    NaN   NaN
max         NaN     NaN  NaN    NaN    NaN   NaN
class - Third
         survived  pclass         age       sibsp       parch        fare
count  491.000000   491.0  355.000000  491.000000  491.000000  491.000000
mean     0.242363     3.0   25.140620    0.615071    0.393075   13.675550
std      0.428949     0.0   12.495398    1.374883    0.888861   11.778142
min      0.000000     3.0    0.420000    0.000000    0.000000    0.000000
25%      0.000000     3.0   18.000000    0.000000    0.000000    7.750000
50%      0.000000     3.0   24.000000    0.000000    0.000000    8.050000
75%      0.000000     3.0   32.000000    1.000000    0.000000   15.500000
max      1.000000     3.0   74.000000    8.000000    6.000000   69.550000
class - First
         survived  pclass         age       sibsp       parch        fare
count  216.000000   216.0  186.000000  216.000000  216.000000  216.000000
mean     0.629630     1.0   38.233441    0.416667    0.356481   84.154687
std      0.484026     0.0   14.802856    0.611898    0.693997   78.380373
min      0.000000     1.0    0.920000    0.000000    0.000000    0.000000
25%      0.000000     1.0   27.000000    0.000000    0.000000   30.923950
50%      1.000000     1.0   37.000000    0.000000    0.000000   60.287500
75%      1.000000     1.0   49.000000    1.000000    0.000000   93.500000
max      1.000000     1.0   80.000000    3.000000    4.000000  512.329200
class - Second
         survived  pclass         age       sibsp       parch        fare
count  184.000000   184.0  173.000000  184.000000  184.000000  184.000000
mean     0.472826     2.0   29.877630    0.402174    0.380435   20.662183
std      0.500623     0.0   14.001077    0.601633    0.690963   13.417399
min      0.000000     2.0    0.670000    0.000000    0.000000    0.000000
25%      0.000000     2.0   23.000000    0.000000    0.000000   13.000000
50%      0.000000     2.0   29.000000    0.000000    0.000000   14.250000
75%      1.000000     2.0   36.000000    1.000000    1.000000   26.000000
max      1.000000     2.0   70.000000    3.000000    3.000000   73.500000
who - man
         survived      pclass         age       sibsp       parch        fare
count  537.000000  537.000000  413.000000  537.000000  537.000000  537.000000
mean     0.163873    2.372439   33.173123    0.296089    0.152700   24.864182
std      0.370506    0.823525   12.906908    0.850726    0.528089   44.021339
min      0.000000    1.000000   16.000000    0.000000    0.000000    0.000000
25%      0.000000    2.000000   23.000000    0.000000    0.000000    7.854200
50%      0.000000    3.000000   30.000000    0.000000    0.000000    9.500000
75%      0.000000    3.000000   40.000000    0.000000    0.000000   26.387500
max      1.000000    3.000000   80.000000    8.000000    5.000000  512.329200
who - woman
         survived      pclass         age       sibsp       parch        fare
count  271.000000  271.000000  218.000000  271.000000  271.000000  271.000000
mean     0.756458    2.084871   32.000000    0.601476    0.564576   46.570711
std      0.430014    0.867196   11.495441    1.093685    1.033907   60.318995
min      0.000000    1.000000   16.000000    0.000000    0.000000    6.750000
25%      1.000000    1.000000   23.000000    0.000000    0.000000   10.500000
50%      1.000000    2.000000   30.000000    0.000000    0.000000   23.250000
75%      1.000000    3.000000   39.000000    1.000000    1.000000   65.000000
max      1.000000    3.000000   63.000000    8.000000    6.000000  512.329200
who - child
        survived     pclass        age      sibsp      parch        fare
count  83.000000  83.000000  83.000000  83.000000  83.000000   83.000000
mean    0.590361   2.626506   6.369518   1.734940   1.265060   32.785795
std     0.494757   0.619024   4.729063   1.638592   0.682255   33.466438
min     0.000000   1.000000   0.420000   0.000000   0.000000    7.225000
25%     0.000000   2.000000   2.000000   0.000000   1.000000   15.900000
50%     1.000000   3.000000   5.000000   1.000000   1.000000   26.250000
75%     1.000000   3.000000   9.500000   3.000000   2.000000   32.193750
max     1.000000   3.000000  15.000000   5.000000   2.000000  211.337500
adult_male - True
         survived      pclass         age       sibsp       parch        fare
count  537.000000  537.000000  413.000000  537.000000  537.000000  537.000000
mean     0.163873    2.372439   33.173123    0.296089    0.152700   24.864182
std      0.370506    0.823525   12.906908    0.850726    0.528089   44.021339
min      0.000000    1.000000   16.000000    0.000000    0.000000    0.000000