In [99]:
import pandas as pd
import seaborn as sns

In [100]:
df = sns.load_dataset('tips')

In [101]:
ds = sns.load_dataset('titanic')

In [102]:
df

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

In [103]:
df_dict = pd.DataFrame([
    {
        "variavel":"total_bill",
        "descricao":"conta total",
        "tipo": "quantitativa",
        "subtipo": "contínuas"
    },{
        "variavel": "tip",
        "descricao": "gorjeta",
        "tipo": "quantitativa",
        "subtipo": "contínua",
    },{
        "variavel":"sex",
        "descricao": "refere-se ao sexo da pessoa",
        "tipo":"qualitativa",
        "subtipo":"nominal",
    },{
        "variavel":"smoker",
        "descricao": "condição se a pessoa é fumante ou não",
        "tipo":"qualitativa",
        "subtipo":"nominal",
    },{
        "variavel":"day",
        "descricao":"dia da semana",
        "tipo":"qualitativa",
        "subtipo":"ordinal",
    },{
        "variavel":"time",
        "descricao":"tempo",
        "tipo":"qualitativa",
        "subtipo":"ordinal",
    },{
        "variavel":"size",
        "descricao":"tamanho",
        "tipo":"quantitativa",
        "subtipo":"contínua",
    }
    
])

df_dict

     variavel                              descricao          tipo    subtipo
0  total_bill                            conta total  quantitativa  contínuas
1         tip                                gorjeta  quantitativa   contínua
2         sex            refere-se ao sexo da pessoa   qualitativa    nominal
3      smoker  condição se a pessoa é fumante ou não   qualitativa    nominal
4         day                          dia da semana   qualitativa    ordinal
5        time                                  tempo   qualitativa    ordinal
6        size                                tamanho  quantitativa   contínua

In [104]:
df['sex'].mode()

0    Male
Name: sex, dtype: category
Categories (2, object): ['Male', 'Female']

In [105]:
df['smoker'].mode()

0    No
Name: smoker, dtype: category
Categories (2, object): ['Yes', 'No']

In [106]:
df['day'].mode()

0    Sat
Name: day, dtype: category
Categories (4, object): ['Thur', 'Fri', 'Sat', 'Sun']

In [107]:
df['time'].mode()

0    Dinner
Name: time, dtype: category
Categories (2, object): ['Lunch', 'Dinner']

In [108]:
ds

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,0,2,male,27.0,0,0,13.0000,S,Second,man,True,NaN,Southampton,no,True
887,1,1,female,19.0,0,0,30.0000,S,First,woman,False,B,Southampton,yes,True
888,0,3,female,NaN,1,2,23.4500,S,Third,woman,False,NaN,Southampton,no,False
889,1,1,male,26.0,0,0,30.0000,C,First,man,True,C,Cherbourg,yes,True
890,0,3,male,32.0,0,0,7.7500,Q,Third,man,True,NaN,Queenstown,no,True

In [109]:
df_dict = pd.DataFrame([
    {
        "variavel":"survived",
        "descricao":"número de sobreviventes",
        "tipo": "quantitativa",
        "subtipo": "discretas"
    },{
        "variavel": "pclass",
        "descricao": "classe do navio",
        "tipo": "qualitativa",
        "subtipo": "ordinal",
    },{
        "variavel":"sex",
        "descricao": "refere-se ao sexo da pessoa",
        "tipo":"qualitativa",
        "subtipo":"nominal",
    },{
        "variavel":"age",
        "descricao": "idade",
        "tipo":"quantitativa",
        "subtipo":"discreta",
    },{
        "variavel":"sibsp",
        "descricao":"acompanhante",
        "tipo":"quantitativa",
        "subtipo":"discreta",
    },{
        "variavel":"parch",
        "descricao":"ressecado",
        "tipo":"qualitativa",
        "subtipo":"nominal",
    },{
        "variavel":"fare",
        "descricao":"número de passagem",
        "tipo":"quantitativa",
        "subtipo":"discreta",
    },{
        "variavel":"embark_town",
        "descricao":"cidade de embarque",
        "tipo":"qualitativa",
        "subtipo":"nominal",
    },{
        "variavel":"alive",
        "descricao":"se a pessoa está viva",
        "tipo":"qualitativa",
        "subtipo":"nominal",
    },{
        "variavel":"alone",
        "descricao":"se a pessoa está sozinha",
        "tipo":"qualitativa",
        "subtipo":"nominal",
    },{
        "variavel":"embarked",
        "descricao":"embarcado",
        "tipo":"qualitativa",
        "subtipo":"nominal",
    },{
        "variavel":"class",
        "descricao":"categoria",
        "tipo":"qualitativa",
        "subtipo":"ordinal",
    },{
        "variavel":"who",
        "descricao":"quem",
        "tipo":"qualitativa",
        "subtipo":"nominal",
    },{
        "variavel":"adult_male",
        "descricao":"se é um adulto masculino",
        "tipo":"qualitativa",
        "subtipo":"nominal",
    },{
        "variavel":"deck",
        "descricao":"área com deck",
        "tipo":"qualitativa",
        "subtipo":"nominal",
    }
    
])

In [110]:
ds[['survived', 'age', 'sibsp', 'fare']].mean()

survived     0.383838
age         29.699118
sibsp        0.523008
fare        32.204208
dtype: float64

In [111]:
ds[['survived', 'age', 'sibsp', 'fare']].median()

survived     0.0000
age         28.0000
sibsp        0.0000
fare        14.4542
dtype: float64

In [112]:
ds[['survived', 'age', 'sibsp', 'fare']].std()

survived     0.486592
age         14.526497
sibsp        1.102743
fare        49.693429
dtype: float64

In [113]:
ds['pclass'].mode()

0    3
Name: pclass, dtype: int64

In [114]:
ds['sex'].mode()

0    male
Name: sex, dtype: object

In [115]:
ds['parch'].mode()

0    0
Name: parch, dtype: int64

In [116]:
ds['embark_town'].mode()

0    Southampton
Name: embark_town, dtype: object

In [117]:
ds['alive'].mode()

0    no
Name: alive, dtype: object

In [118]:
ds['alone'].mode()

0    True
Name: alone, dtype: bool

In [119]:
ds['embarked'].mode()

0    S
Name: embarked, dtype: object

In [120]:
ds['class'].mode()

0    Third
Name: class, dtype: category
Categories (3, object): ['First', 'Second', 'Third']

In [121]:
ds['who'].mode()

0    man
Name: who, dtype: object

In [122]:
ds['adult_male'].mode()

0    True
Name: adult_male, dtype: bool

In [123]:
ds['deck'].mode()

0    C
Name: deck, dtype: category
Categories (7, object): ['A', 'B', 'C', 'D', 'E', 'F', 'G']